<h1>Login!</h1>
<div class="container">
    <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>

    <div>
        <!-- <form #loginForm="ngForm" (ngSubmit)="!loginForm.invalid&&handleLogin()"> -->
        <!-- <form #loginForm="ngForm" (ngSubmit)="!loginForm.invalid&&handleBasicAuthLogin()"> -->
        <form #loginForm="ngForm" (ngSubmit)="!loginForm.invalid&&handleJwtAuthLogin()">
            Username: <input type="text" name="username" [(ngModel)]="username">
            Password: <input type="password" name="password" [(ngModel)]="password">
            <button class="btn btn-success" type="submit">Login</button>
        </form>
    </div>

</div>