<h1>Welcome</h1>
<div class="alert alert-warning" *ngIf='serverError'>{{serverErrorMessage}}</div>
<div class="container">
    welcome {{name}}. You can manage your todos <a routerLink="/todos">here</a>
</div>

<div class="container">
    click here to get a customized welcome message
    <button (click)=getWelcomeMessagePathVariable() class="btn btn-success">Get Welcome Message</button>
</div>


<div class="container" *ngIf="welcomeMessageFromService">
    <h2>Your customized welcome message</h2>
    {{welcomeMessageFromService}}
</div>