<h1>My Todo's</h1>
<div class="alert alert-success" *ngIf='message'>{{message}}</div>
<div class="container">
<table class="table">
    <caption>My Todos</caption>
    <thead>
        <tr>
            <th>id</th>
            <th>description</th>
            <th>Target Date</th>
            <th>Is Completed?</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let todo of todos">
            <td>{{todo.id}}</td>
            <td>{{todo.description}}</td>
            <td>{{todo.targetDate | date}}</td>
            <td>{{todo.done}}</td>
            <td><button (click)="updateTodo(todo.id)" classs="btn btn-success">Update</button></td>
            <td><button (click)="deleteTodo(todo.id)" class="btn btn-warning">Delete</button></td>
            
        </tr>
 
    </tbody>
</table>

<div class="row">
        <button (click)="addTodo()" class="btn btn-success">Add Todo</button>
</div>
</div>
