<h1>Todo</h1>
<div class="container">
    <div class="alert alert-warning" *ngIf="todoForm.dirty && todoForm.invalid">Enter valid values</div>
    <div class="alert alert-warning" *ngIf="todoForm.dirty && targetDate.invalid">Enter valid date</div>
    <div class="alert alert-warning" *ngIf="todoForm.dirty && description.invalid">Enter valid date</div>
    
    <form (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm">
        <fieldset class="formgroup">
            <label>Description</label>
            <input type="text" [(ngModel)]="todo.description" class="form-control" name="description" minlength="5"
                #description="ngModel" required="required">
        </fieldset>

        <fieldset class="formgroup">
            <label>Target Date</label>
            <input type="date" class="form-control" name="targetDate" required="required" #targetDate="ngModel"
                [ngModel]="todo.targetDate | date:'yyyy-MM-dd' " (ngModelChange)="todo.targetDate = $event">
        </fieldset>

        <button class="btn btn-success" type="submit">Save</button>
    </form>
</div>